 <div class="col-xs-6">
    <% @posts.each do |p|%>
      <div class="panel panel-default">
          <div class="panel-body">
            <%= p.content%>
          </div>
        </div>
      <% end %>
    </div>