<div class="jumbotron">
  <div class="container">
hello
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
      <div class="panel panel-default">
          <div class="panel-body">
            Status
          </div>
        </div>
  
  </div>
  <div class="col-xs-6">
      <div class="panel panel-default">
          <div class="panel-body">
            feed
          </div>
        </div>
    </div>
  <div class="col-xs-3">
      <div class="panel panel-default">
          <div class="panel-body">
            tweet
          </div>
        </div>
  </div>
</div>

<div class ="row">
    <div class="col-xs-3 col-md-push-9">
      <div class="panel panel-default">
          <div class="panel-body">
            trend
          </div>
        </div>
  
  </div>
</div>